@charset "UTF-8";
/* UTF-8一定要再行數1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
    font-family: TaipeiSansTCBeta;
    src: url(../webfonts/TaipeiSansTCBeta-Bold.ttf);
}


/* 變數 */
:root {
    /* 設定固定顏色樣板 */
    /* 灰階 */
    --deep: #444;
    --grey: #999;
    --light: #f8f8f8;

    /* 背景 */
    --primry: #d4bbca;
    --secondary: #6c8474;
    --tertiary: #859aae;

    /* 輔助 */
    --lesser-1: #f3dcdc;
    --lesser-2: #efdbdb;
    --lesser-3: #cdaaab;
    --lesser-4: #8f6b6d;

    /* 透明 */
    --alpha-w-60: rgba(255, 255, 255, 0.5);
    --alpha-w-20: rgba(0, 0, 0, 0.2);
    --alpha-w-40: rgba(0, 0, 0, 0.4);
    /* 漸層 */
    --gradient-w-a: rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.5);
    /* 陰影 */
    --box-shadow-g: 2px 2px 3px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(255, 255, 255, 0.8);
}


/* 重置所有標籤的樣式 */
/* 『*』代表所有標籤的意思 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距paddin與邊框 border*/
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: rgb(116, 107, 95); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block
        /* 預設inline改為block */
    ;
    text-decoration: none;
    color: var(--deep);
}

/* 共用區 */

.navihation .icon .but-login {
    background-color: var(--light);
    color: var(--deep);
    width: auto !important;
    height: 35px;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 99px;
}

.navihation .icon .but-login:hover {
    background-color: #444;
    color: var(--light);

}

#form--contact input,
#form--contact textarea,
#topbar .menu,
#btn__contact-submit {
    /* border-radius: 10px; */
    /* border: 1px solid #aa8c8e; */
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.8));
    /* ↓↓取消表單元件的預設被景色↓↓ */
    background-color: transparent;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.15), inset -1px -1px rgba(255, 255, 255, 0.8);
    /* filter: drop-shadow(2px 3px rgba(0,0,0,0.6)); */
    /* backdrop-filter: blur(10px);
    border: none; */
}

/* ↑↑ 玻璃擬態效果↑↑ */



/* 頁首區 */
#topbar {
    position: fixed;
    /* 固定定位，不會跟著卷軸走 */
    z-index: 999;
    width: 100%;
    /* 固定定位會抓內容尺寸，要自己設定寬度 */
    /* ID用# */
    display: flex;
    /* 預設主軸為水平 */
    justify-content: space-between;
    /* 主軸(水平)均分貼齊頭尾 */
    padding: 30px;
    align-items: center;
    /* 副軸(垂直)置中 */
    /* background-color: #8f6668; */
}

.logo {
    /* class用. */
    width: 65px;
    /* 相對於父元素 */
    /* filter: drop-shadow(2px 3px rgba(0,0,0,0.5)); */
}

.logo img {
    filter: drop-shadow(2px 3px var(--alpha-w-60));
}


.navihation {
    display: flex;
    flex-direction: column;
    /* 主軸轉垂直 */
    align-items: flex-end;
    /* 副軸(水平)至底*/
}

.navihation .icon {
    display: flex;
}

/* .navihation .menu {
    display: flex;
    margin: 15px 0;
   } */

.navihation .menu a {
    color: rgb(150, 193, 196);
}

.navihation .icon a {
    width: 35px;
    height: 35px;
    /* border: solid 1px; */
    margin-left: 10px;
    transition: 0.35s;
}

.icon-fb {
    /* 只有svg圖會自動縮放，其他圖檔會使用原始尺寸 */
    background-image: url(../images/icon-fb.svg);
    /* 如果使用其他圖檔要使用→background-size: 100%; */
}

.icon-fb:hover {
    /* 只有svg圖會自動縮放，其他圖檔會使用原始尺寸 */
    background-image: url(../images/icon-fb-hover.svg);
    /* 如果使用其他圖檔要使用→background-size: 100%; */
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

.navihation .menu {
    display: flex;
    margin: 15px 0;
    /* 控制父層的外距 */
    /* 設定盒子外部的間距 */
    padding: 10px;
    border-radius: 99px;
}

.navihation .menu li {
    /* Menu加上隔間 */
    border-right: solid 1PX;
}

.navihation .menu li:last-child {
    /*移除Menu最後一個隔間 */
    border-right: none;
}

.navihation .menu a {
    /* color: rgb(36, 43, 75); */
    font-size: .9rem;
    line-height: 1;
    margin: 0 20px;
    border-bottom: solid 2px transparent;
    /* 控制子層的外距 */
    /* 設定文字外部的間距 */
}

.navihation .menu a:hover {
    border-bottom: solid 2px rgb(36, 43, 75);
    /* 設定滑到目標後會加上底線 */
    transition: .35 ease-in-out;
}

/* 主要內容共用區 */
section {
    display: flex;
    /* 變成水平排 */
    flex-direction: column;
    /* 再轉垂直排 */
    justify-content: center;
    /* 垂直字中 */
    align-items: center;
    /* 水平字中 */
    height: 100vh;
}

.title {
    display: flex;
    /* 變成水平排 */
    flex-direction: column;
    /* 再轉垂直排 */
    align-items: center;
    /* 水平字中 */
    margin-bottom: 30px;
}

.title h2 {
    font-family: "TaipeiSansTCBeta", "sans-serif";
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    border-bottom: 3px solid #444;
}

.title h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
}

.box__list {
    width: 80%;
    display: flex;
    margin: 15px;
    max-width: 1440px;
    /* 通常搭配相對單位，並設定絕對單位 */
}



.box__list .item {
    flex: 1;
    margin: 0 15px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    /* 設定圓角 */
    overflow: hidden;
    /* 設定圖片可被背景隱藏 */
}

.box__list figure {
    height: 50vh;
}

.box__list img {
    object-fit: cover;
    /* 設定圖片容器 */
    /* width: 100%; 共用區已設定 */
    height: 100%;
}

.box__list .content {
    padding: 15px 20px;
    color: #444;
}

.box__list .item h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.box__list .item p {
    /* color: #444; */
    font-size: 1rem;
    text-align: justify;
    /* 齊行，建議中文使用，英文是單字間距均分，建議不要使用 */

    /* 多行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字溢出時會出現省略號，落有設定line-clamp時，瀏覽器會自動加入 */
    display: -webkit-box;
    /* 彈性佈局 */
    -webkit-box-orient: vertical;
    /* 定義BOX垂直佈局 */
    -webkit-line-clamp: 5;
    /* 限制行數，超過會出現省略號 */
}



/* 最新消息區 */
#new {
    background-color: var(--primry);
}

#new .content {
    background-color: var(--alpha-w-60);
}

#new .content:hover {
    background-color: var(--light);
}

#new p {

    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字溢出時會出現省略號，落有設定line-clamp時，瀏覽器會自動加入 */
    display: -webkit-box;
    /* 彈性佈局 */
    -webkit-box-orient: vertical;
    /* 定義BOX垂直佈局 */
    -webkit-line-clamp: 5;
    /* 限制行數，超過會出現省略號 */
}


/* 服務項目區 */
#service {
    background-color: var(--secondary);
}

#service .box__list a:hover {
    background-color: var(--alpha-w-20);
}

#service p {
    /* 單行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#service .item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 60vh;
    background-position: center;
    /* 圖片字中 */
    background-size: cover;
    /* 圖片延展 */
}

#service a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    /*width: 100%; 父元素的display:flex改變寬度，才需要設定width:100% */

}

.svc-1 {
    background-image: url(../images/pt_svc1.jpg);
}

.svc-2 {
    background-image: url(../images/pt_svc2.jpg);
}

.svc-3 {
    background-image: url(../images/pt_svc3.jpg);
}

.svc-4 {
    background-image: url(../images/pt_svc4.jpg);
}

/* 相關影片區 */
#video {
    background-color: var(--tertiary);
}

.video{
width: 100%;
max-width: 1050px;
}

video {
    width: 100%;
}

/* 關於我們區 */
#about .content{
    width: 65%;
    height: 100vh;/* 高度百分比會抓父元素的高度 */
    background-color: var(--alpha-w-40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about p{
    width: 90%;
    height: 65vh;
    overflow: auto;
}


/* 聯絡我們 */

#content {
    position: relative;
    /* 專門做為absloute的定位依據 */
    overflow: hidden;
    /* 背景影像基本設定 */
    background-image: url(../images/bg_contact.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 固定背景 */
    background-attachment: fixed;
}

/* 裝飾花 */
.flower_r {
    position: absolute;
    /* 絕對定位 */
    left: -50px;
    bottom: 100px;
    width: 400px;
    transform: rotate(30deg);
}


/* 裝飾花 */
.flower_w {
    position: absolute;
    /* 絕對定位 */
    right: -100px;
    top: 150px;
    transform: rotate(-50deg);
}

#form--contact {
    display: flex;
    flex-direction: column;
    /* 主軸(垂直) */
    align-items: center;
    /* 副軸(水平)字中 */
    width: 35%;
    font-family: 'Noto Sans TC', sans-serif;
}

#form--contact label {
    width: 100%;
    font-size: 0.85rem;
    line-height: 2;
    margin-top: 1.5rem;
}



/* #form--contact input {
    padding: 8px 5px;
    color: #8f6668;
    font-weight: 600;
} */

#form--contact input,
#form--contact textarea {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    font-weight: 600;
    /* font-family: 'Noto Sans TC', sans-serif; */
    color: #aa8c8e;
    backdrop-filter: blur(10px);
    border: none;
}

#form--contact input:focus,
#form--contact textarea:focus {
    /* 修該focus預設模式 */
    outline: 2px solid #71a2c3;
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
    font-size: .8rem;
    font-weight: 400;
    color: #3e2829;
}

#form--contact small {
    font-size: .8rem;
    color: #765e5f;
    padding: 15px 15px;
}

/* 動態按鈕 */
/* #btn__contact-submit{

} */

#btn__contact-submit {
    /* position: relative; */
    /* outline: none; */
    /* text-decoration: none; */
    /* 取消文字底線 */
    border-radius: 50px;
    /* 定義起始位置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 指標樣式 */
    cursor: pointer;
    /* 指標樣式：手形狀 */
    /* text-transform: uppercase; */
    /* 設定字母大寫 */
    height: 60px;
    width: 210px;
    /* opacity: 1; */
    /* 透明度 */
    /* ↓↓取笑button預設值↓↓ */
    background-color: transparent;
    border: none;
}

#btn__contact-submit span {
    color: #af7663;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-left: 1rem;
    /* 把字補回到正中間 */
}

#btn__contact-submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn__contact-submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}