// @use '../@use/variables' as*;
// %代表宣告 glassmorphism 它的意思
// @estend繼承的語法會家在use檔案之後，CSS語法最上面
// %glassmorphism {
//     //玻璃擬態效果
//     /* 玻璃擬態效果 */
//     background-image: linear-gradient(150deg, map-get($color, --alpha-w-20));
//     /* ↓↓取消表單元件的預設被景色↓↓ */
//     background-color: map-get($color, --alpha-w-40);
//     box-shadow: $box-shadow-g;
//     backdrop-filter: blur(5px);
// }

@use "./color" as *;
@use "./font" as *;
@use "./size" as *;
@use "./basic" as *;


%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// 很多共用的樣式可以寫在繼承裡


// 基本按鈕樣式
%best-btn {
    color: map-get($color , deep);
    background-color: map-get($color , primry);
    font-size: map-get($font-size , xl);
    font-weight: 700;
    padding: $interval-m $interval-l;
    border-radius: $radius-full;
    border: 3px solid transparent;
    transition: $base-speed;

    &:hover {
        color:  map-get($color , light);
        background-color: map-get($color , deep);
        border: 3px solid black;
    }
}